h1{
    color: #46c2e3;
    text-transform: uppercase;
    font-size: 28px;
}
h4{
    color:#a1a1a1;
}
#logostyle a{
    line-height:20px;
    display:block;
    float:left;
    text-decoration: none;
}
    
#logostyle .s-logo{
    background-repeat: no-repeat;
    height: 48px;
    left: 10px;
    margin: 0;
    text-indent: -9000px;
    top: 7px;
    width: 129px;
    margin: 0px;
}

#logostyle .s-logo.es{
    background-image: url("../images/servix_logo_48.png");
}

.navbar.navbar-servix{
margin: 0px;
}
 .footer-servix{
    margin-bottom: 0px;
 
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

 .search-box{
    display: inline-block;
    margin: 25px auto 0px;
 }

ul.typeahead.dropdown-menu{
    width: 100%;
}

/*a.list-group-item {
    height:auto;
    min-height:120px;
}
a.list-group-item.active small {
    color:#fff;
}
a.list-group-item {
    height:auto;
    min-height:220px;
}*/
.stars {
    margin:20px auto 1px;    
}

.footer-servix{
    margin-top: 0px;
    
    border-bottom: 0px;
    border-top:1px;
    border-top-color:lightblue;
}
.footer-servix .navbar-text{
    color: #777;
}
.footer-servix .nav.navbar-nav.navbar-right {
    margin-top: 10px;
}
.footer-servix .nav.navbar-nav.navbar-right  li {
    border-right: solid 1px #f1f1f1;


}
.footer-servix .nav.navbar-nav.navbar-right li:last-child{
    border-right: none;
}
.footer-servix .nav.navbar-nav.navbar-right  li a{
    padding: 5px 10px;
color:#777;
font-size: 12px;
}
.footer-servix .nav.navbar-nav.navbar-right  li a:hover{

text-decoration: underline;
}
.ficha h1{
    margin-bottom: 40px;
}
.ficha h2{
    margin-top:0px;
    margin-bottom: 20px;
}
.votacion h3{
    margin-bottom: 30px;
}
 .starrr,.startt{
    color:gold;
 }
.votacion .starrr{
    font-size: 28px;
    color: gold;
    margin-top: 0px;
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.box-postulaciones{
    margin:10px 0px;
}
.box-postulaciones h5{
    margin: 0px;
}
.box-postulaciones small span{
    font-size:10px;
    margin-top: 5px;
}

/***********LOGIN MODALBOX ******************/
.login_modal{
    width: 420px;
}
.login_modal_body{
    padding: 15px 30px;
}

/***********FIN LOGIN MODALBOX ******************/

/***********EDITAR FOTO PERFIL MODALBOX ******************/
#edit_photo .progress{ position:relative;}
#edit_photo .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#edit_photo .percent { position:absolute; display:inline-block; top:3px; left:45%; }

/***********EDITAR FOTO PERFIL MODALBOX ******************/


/***********SOLICITUD SERVICIO ******************/
.guia-uso ul{margin-top: 30px; }
.guia-uso ul li p{
    font-size: 16px;
}

.guia-uso ul li{
    margin:45px 0px;
}
.from-box form{
    margin-top: 30px;
}
.from-box form textarea{
    resize:vertical;
}

.from-box form ul.typeahead.dropdown-menu{
    width: 100%;
}
#secCat ul{
    list-style:none;
    padding: 0px;
}
#secCat ul li {
    padding: 0px;
}

.bg-lightblue{
       /*background: #b1e1f5;*/
       background: #52C6E2;
}


.bg-white{
    background: #fff;
}

.tab-box{
    padding: 30px 0px;
}
.tab-box h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tab-box .nav{
    background: #f2f2f2;
    margin-bottom: 20px;
}

.tab-box .tab-content p{font-size: 16px;}

#main{
    margin: 30px auto 30px;
}
#search{
    padding:40px 0px 8px;
    /*background: url('../images/bgtest.jpg') no-repeat;*/
    background-size: cover;

    background: #d0f6ff;  Old browsers 
    background: -moz-linear-gradient(top,  #d0f6ff 0%, #ffffff 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0f6ff), color-stop(100%,#ffffff)); 
    background: -webkit-linear-gradient(top,  #d0f6ff 0%,#ffffff 100%); 
    background: -o-linear-gradient(top,  #d0f6ff 0%,#ffffff 100%); 
    background: -ms-linear-gradient(top,  #d0f6ff 0%,#ffffff 100%); 
    background: linear-gradient(to bottom, #d0f6ff 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f6ff', endColorstr='#ffffff',GradientType=0 );
}

#search .jumbotron {
    /*background: rgba(128,211,237,0.7);*/
    background:none repeat scroll 0 0 rgba(66, 205, 241, 0.7);
    color: #fff;
    padding-top: 20px;
    border-radius: 0px;
    
}
#search .jumbotron p{font-size: 18px;}

#secCat{
    padding-bottom: 20px;

    background: #5dc9e5;  Old browsers 
    background: -moz-linear-gradient(top,  #5dc9e5 0%, #0db4d0 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5dc9e5), color-stop(100%,#0db4d0)); 
    background: -webkit-linear-gradient(top,  #5dc9e5 0%,#0db4d0 100%); 
    background: -o-linear-gradient(top,  #5dc9e5 0%,#0db4d0 100%); 
    background: -ms-linear-gradient(top,  #5dc9e5 0%,#0db4d0 100%); 
    background: linear-gradient(to bottom,  #5dc9e5 0%,#0db4d0 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dc9e5', endColorstr='#0db4d0',GradientType=0 );
}
#secCat h3{ color:#fff;
border-bottom: solid 2px #fff;}
#secCat a{
    color:#fff;
}
#mPerfilU .nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
#mPerfilU .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
#mPerfilU .nav-sidebar .active a { 
    cursor: default;
    background-color: #38C6D8; 
    color: #fff; 
}
#mPerfilU .nav-sidebar .active a:hover {
    background-color: #3AE5E8;   
}

.navbar-servix {
    background: #fff;
}

.paneles{
    margin-top: 35px;
}

#solicitados  .paneles .panel-heading {
    /* background: #5dc9e5; */
    /* color: #fff; */
}

#solicitados  .paneles .panel-footer {
    /* background: #5dc9e5; */
    /* color: #fff; */
}
.link-orange{
    color: #1b1b1b;
    text-decoration: underline;
}

#solicitados .panel-body {
    min-height: 160px;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
    border-radius: 0px;
}

.btn{

    border-radius: 2px;
   
}

.bg-orange{
    background: #f38043;
    border-color: #cf9d6e;
     color: #fff;
}

.bg-red-degrade{
 background: #b82a29; /* Old browsers 
background: -moz-linear-gradient(top,  #b82a29 0%, #d23835 49%, #b82a28 50%, #b82a28 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b82a29), color-stop(49%,#d23835), color-stop(50%,#b82a28), color-stop(100%,#b82a28)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b82a29 0%,#d23835 49%,#b82a28 50%,#b82a28 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b82a29 0%,#d23835 49%,#b82a28 50%,#b82a28 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b82a29 0%,#d23835 49%,#b82a28 50%,#b82a28 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b82a29 0%,#d23835 49%,#b82a28 50%,#b82a28 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82a29', endColorstr='#b82a28',GradientType=0 ); /* IE6-9 */
border-color: #c55453;
     color: #fff;
}
.bg-red-degrade:hover{
    background: #E23131;
}

#destacados{margin-bottom: 50px;}